<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pizzeria"
        tools:targetApi="31">
        <activity
            android:name=".AddProduct"
            android:exported="false"
            android:label="@string/title_activity_add_products"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".AddType"
            android:exported="true"
            android:label="@string/title_activity_add_type"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".UpdateProducts"
            android:exported="true"
            android:label="@string/title_activity_update_products"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".UpdateCategory"
            android:exported="true"
            android:label="@string/title_activity_update_category"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".UpdateUser"
            android:exported="true"
            android:label="@string/title_activity_update_user"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".CategoryDetails"
            android:exported="true"
            android:label="@string/title_activity_category_details"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".OrderDetails"
            android:exported="true"
            android:label="@string/title_activity_order_details"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".Order"
            android:exported="true"
            android:label="@string/title_activity_order"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".Revenue"
            android:exported="true"
            android:label="@string/title_activity_revenue"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".ProductDetails"
            android:exported="true"
            android:label="@string/title_activity_product_details"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".UserInformation"
            android:exported="true"
            android:label="@string/title_activity_user_information"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Pizzeria" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pizzeria">
            <!-- Define MainActivity as the main launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
